@charset "UTF-8";

body{
    background-color: #9BE0B2;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #43614D;
}

h1#principal{
    background-color:#89C79E;
    color: white;
    margin: 0;
    border-radius: 2px;
    text-align: center;
}

h2 {
    color: #6FA17F;
}

.basico {
    color: #6FA17F;
}

.intermediario {
    color: #a0a16f;
}

.avancado {
    color: #a16f6f;''
}