@font-face {
    font-family: 'idroid';
    src: url('fontes/idroid.otf') format('opentype');
}

* {
    margin: 0px;
}

.container {
    width: 100%;
    height: auto;
}

.principal {
    background-image: linear-gradient(to bottom, #3CD781, #1A5C38);
    width: 100%;
    box-shadow: 2px 2px 7px 0px rgba(0, 0, 0, 0.527);
}

h1#chamada-principal {
    font: bold 3em sans-serif;
    color: white;
    text-align: center;
    padding: 25px;
}

h2#sub-principal {
    font: normal 1.5em sans-serif;
    text-align: center;
    color: white;
    padding: 10px;
}

.menu{
    padding: 10px;
}

.menu > a {
    font: bolder 1em sans-serif;
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

.menu > a:hover {
    background-color: #1a5c38d7;
    padding: 5px;
    border-radius: 3px;
}


/*Chamada principal*/

.conteudo-principal {
    background-color: white;
    width: 900px;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 1px 2px 7px 0px rgba(0, 0, 0, 0.521);
}

.titulos {
    font: bold 2.5em 'idroid';
    margin: 20px;
    color: #1A5C38;
}

.subtitulos {
    font: bold 1.5em 'idroid';
    background-image: linear-gradient(to right, #DAF3E5, white);
    margin: 10px;
    color: #1A5C38;
    text-align: left;
    width: 800px;
}

.textos {
    font: bold 1em sans-serif;
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
}

/*  RODAPÉ */

.android {
    width: 900px;
    margin: auto;
    background-color:white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 1px 6px 6px 0px rgba(0, 0, 0, 0.521);

}

.relacionado {
    width: 850px;
    height: auto;
    background-color: #C5EBD6;
    margin: 25px;
    border-radius: 10px;
}

.relacionado > h2 {
    color: white;
    background-color: #2FA866;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font: bold 1.5em sans-serif;
    padding: 5px;
}

ul > li > a {
    color: black;
    font-family: sans-serif;
}

ul > li > a:hover {
    text-decoration: none;
    color: white;
}

.rodape {
    width: 100%;
    height: auto;
    background-color: #1A5C38;
    margin-top: 20px;
}

.rodape > p {
    font: bold 1em sans-serif;
    text-align: justify;
    text-indent: 30px;
    padding: 10px;
    text-align: center;
    color: #3CD781;
}